.bg-blue {
  background-color: rgb(6, 149, 196);
}
.footer-email {
  color: white;
  text-decoration: none;
}
.background-img {
  background-image: url('../images/footer-background-1.png');
  background-repeat: no-repeat;
  background-position: left -140px top -200px;
  background-size: 450px;
}

.text-white {
  color: white;
}
.footer-icon a {
  color: white;
}
.footer-icon a:hover {
  color: #084684;
}
