.bg-blue {
  background-color: rgb(6, 149, 196);
}
.footer-email {
  color: white;
  text-decoration: none;
}

.text-white {
  color: white;
}
.footer-icon {
  display: flex;
  justify-content: start;
  align-items: center;
}
.footer-icon a {
  color: white;
  text-decoration: none;
}
.footer-icon a:hover {
  color: #084684;
}
.footer-left-container {
  display: flex;
  align-items: center;
  justify-content: center;
}
.customer-container {
  display: flex;
  align-items: center;
  justify-content: center;
}
.item {
  text-align: left;
}
.footer-img-logo {
  width: 100%;
  padding: 4em;
  margin-left: 5%;
}
@media (max-width: 768px) {
  .footer-img-logo {
    padding: 0;
    margin-left: 0%;
  }
}
.footer-padding {
  padding: 20px 20px 20px 20px;
}
