.color {
  color: #084684;
}
.color::after {
  content: '';
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 3px;
  background: #084684;
  transform: scaleX(1);
  transform: scaleY(1);
}
.text-space {
  margin: 0;
  padding: 10px 5px;
  transition: color 0.15s ease;
}
.text-space:hover {
  color: #084684;
}
li a p {
  position: relative;
}

li a p::after {
  content: '';
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 3px;
  background: #084684;
  transform: scaleX(0);
  transform: scaleY(0);
  transition: transform 0.15s ease-in;
}
li a p:hover::after {
  transform: scaleX(1);
  transform: scaleY(1);
}
.max-width {
  max-width: 1519px;
}
