.product-title {
  padding: 80px 0;
  text-align: center;
  font-weight: bold;
  font-size: 1.75rem;
  text-decoration: underline;
}
.product-catagory-ul {
  padding: 0;
  list-style: none;
  text-align: left;
}
.product-catagory-ul .product-color {
  color: #084684;
}
.product-catagory-title {
  background-color: rgb(6, 149, 196);
  border-radius: 20px;
  color: white;
  padding: 15px 0;
  text-align: center;
  font-weight: bold;
  font-size: 1.38em;
}
.product-catagory-ul li {
  padding: 10px 0;
  padding-left: 34%;
}
@media (max-width: 1025px) {
  .product-catagory-ul li {
    padding-left: 31.5%;
  }
}
@media (max-width: 769px) {
  .product-catagory-ul li {
    padding-left: 29%;
  }
}

@media (max-width: 426px) {
  .product-catagory-ul li {
    padding-left: 41.5%;
  }
}
@media (max-width: 376px) {
  .product-catagory-ul li {
    padding-left: 40%;
  }
}
.product-catagory-ul li a {
  text-decoration: none;
  color: black;
  transition: color 0.15s ease;
}
.product-catagory-ul li a:hover {
  color: #084684;
}
.product-a {
  text-decoration: none;
  color: black;
  transition: color 0.15s ease;
}
.product-a:hover {
  color: #084684;
}
.product-img-container {
  min-height: 282px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.product-img {
  width: 100%;
  max-width: 200px;
  min-width: 140px;
  object-fit: contain;
}
.product-text-center {
  text-align: center;
}
.custom-container {
  display: flex;
  justify-content: center;
}
.custom-container ul {
  width: 100%;
}
.custom-container .item {
  text-align: left;
}
